nav.app-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 4vw;
  background-color: #222;
}

nav.app-nav > main.app-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

main.app-nav-container > div.app-nav-left {
  width: 50%;
  height: 100%;
}

main.app-nav-container > div.app-nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
}

div.app-nav-right > div.app-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 2vw;
  color: #fff;
}

div.app-nav-right > div.app-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 2vw;
  color: #fff;
}

/* unvisited link */
div.app-nav-right a:link {
  color: #fff;
  text-decoration: none;
}

/* visited link */
div.app-nav-right a:visited {
  color: #fff;
  text-decoration: none;
}

/* mouse over link */
div.app-nav-right a:hover {
  color: #fff;
  text-decoration: none;
}

/* selected link */
div.app-nav-right a:active {
  color: #fff;
  text-decoration: none;
}

section.app-view {
  margin-top: 0;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
